//---------- color ----------//
$black: #000000;
$white: #ffffff;
$accent: #ff5758;
$primary: #607eaa;
$secondary: #1c3879;
$normal: #2f9d27;

$third: #c4d7e0;

$bgcolor-gray-01: #f7f7f7;
$bgcolor-gray-02: #f9f9f9;
$bgcolor-gray-03: #f7f8fa;
$bgcolor-gray-04: #f1f0f4;
$bgcolor-gray-05: #eff1f3;
$bgcolor-gray-06: #e4e4e4;
$bgcolor-gray-07: #e5e8eb;

$color-gray-01: #333333;
$color-gray-02: #dcdcdc;
$color-gray-03: #ababab;
$color-gray-04: #555555;

$placeholder: #777777;
